openapi: 3.0.3
info:
  title: MLB Stats API
  description: |
    Reverse-engineered OpenAPI specification for the public MLB Stats API hosted
    at statsapi.mlb.com. This spec is hand-authored — MLB does not publish an
    official OpenAPI document — and covers only the subset of endpoints exposed
    by the mlb-sdk Go client. Schemas use `additionalProperties: true` so
    forward-compatible fields don't break unmarshalling.
  version: 0.1.0
servers:
  - url: https://statsapi.mlb.com
    description: MLB Stats API root

paths:
  /api/v1/schedule:
    get:
      operationId: getSchedule
      summary: Game schedule for a sport, team, and/or date range
      parameters:
        - { name: sportId, in: query, schema: { type: integer }, description: "1 = MLB" }
        - { name: teamId, in: query, schema: { type: integer } }
        - { name: gamePk, in: query, schema: { type: integer } }
        - { name: date, in: query, schema: { type: string }, description: "YYYY-MM-DD" }
        - { name: startDate, in: query, schema: { type: string }, description: "YYYY-MM-DD" }
        - { name: endDate, in: query, schema: { type: string }, description: "YYYY-MM-DD" }
      responses:
        "200":
          description: Schedule
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ScheduleResponse" }

  /api/v1/game/{gamePk}/boxscore:
    get:
      operationId: getBoxscore
      summary: Boxscore for a single game
      parameters:
        - { name: gamePk, in: path, required: true, schema: { type: integer } }
      responses:
        "200":
          description: Boxscore
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BoxscoreResponse" }

  /api/v1/game/{gamePk}/playByPlay:
    get:
      operationId: getPlayByPlay
      summary: Play-by-play for a single game (v1)
      parameters:
        - { name: gamePk, in: path, required: true, schema: { type: integer } }
      responses:
        "200":
          description: Play-by-play
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PlayByPlayResponse" }

  /api/v1.1/game/{gamePk}/feed/live:
    get:
      operationId: getLiveFeed
      summary: Full live game feed (v1.1)
      parameters:
        - { name: gamePk, in: path, required: true, schema: { type: integer } }
      responses:
        "200":
          description: Live feed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LiveFeedResponse" }

  /api/v1/gamePace:
    get:
      operationId: getGamePace
      summary: Pace-of-play statistics
      description: |
        Returns pace-of-play stats for a sport + season. toddrob99
        marks season as required. The response wraps data under
        `{sports: [...]}`.
      parameters:
        - { name: season, in: query, required: true, schema: { type: integer } }
        - { name: sportId, in: query, schema: { type: integer } }
        - { name: teamIds, in: query, schema: { type: string } }
        - { name: leagueIds, in: query, schema: { type: string } }
        - { name: leagueListId, in: query, schema: { type: string } }
        - { name: gameType, in: query, schema: { type: string } }
        - { name: startDate, in: query, schema: { type: string } }
        - { name: endDate, in: query, schema: { type: string } }
        - { name: venueIds, in: query, schema: { type: string } }
        - { name: orgType, in: query, schema: { type: string } }
        - { name: includeChildren, in: query, schema: { type: boolean } }
        - { name: fields, in: query, schema: { type: string } }
      responses:
        "200":
          description: GamePace
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GamePaceResponse" }

  /api/v1/draft/{year}:
    get:
      operationId: getDraft
      summary: Draft picks for a year
      description: |
        Returns draft data for a given year. The response wraps rounds and
        picks with rich person/team/school sub-objects.
      parameters:
        - { name: year, in: path, required: true, schema: { type: integer } }
        - { name: round, in: query, schema: { type: string } }
        - { name: fields, in: query, schema: { type: string } }
      responses:
        "200":
          description: Draft
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DraftResponse" }

  /api/v1/game/{gamePk}/linescore:
    get:
      operationId: getLinescore
      summary: Linescore for a single game
      parameters:
        - { name: gamePk, in: path, required: true, schema: { type: integer } }
        - { name: timecode, in: query, schema: { type: string }, description: "YYYYMMDD_HHmmss for point-in-time" }
        - { name: fields, in: query, schema: { type: string } }
      responses:
        "200":
          description: Linescore
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LinescoreResponse" }

  /api/v1/standings:
    get:
      operationId: getStandings
      summary: League standings (regular season, wild card, etc.) for a league + season
      parameters:
        - { name: leagueId, in: query, required: true, schema: { type: string }, description: "103 = AL, 104 = NL. May be comma-separated for multiple leagues." }
        - { name: season, in: query, schema: { type: integer } }
        - { name: standingsTypes, in: query, schema: { type: string }, description: "regularSeason | wildCard | divisionLeaders | …" }
        - { name: date, in: query, schema: { type: string }, description: "YYYY-MM-DD; standings as of this date" }
        - { name: hydrate, in: query, schema: { type: string }, description: "comma-separated hydrate flags" }
        - { name: fields, in: query, schema: { type: string }, description: "comma-separated field projection" }
      responses:
        "200":
          description: Standings
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StandingsResponse" }

  /api/v1/teams/{teamId}/stats:
    get:
      operationId: getTeamStats
      summary: Aggregated team stats
      parameters:
        - { name: teamId, in: path, required: true, schema: { type: integer } }
        - { name: season, in: query, schema: { type: integer } }
        - { name: stats, in: query, schema: { type: string }, description: "e.g. season, byDateRange" }
        - { name: group, in: query, schema: { type: string }, description: "hitting | pitching | fielding" }
      responses:
        "200":
          description: Stats
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TeamStatsResponse" }

  /api/v1/seasons:
    get:
      operationId: getSeasons
      summary: List seasons (filtered)
      description: |
        Returns season metadata. At least one of sportId, divisionId, or
        leagueId is required (the toddrob99 catalog encodes this as
        `required_params: [["sportId"], ["divisionId"], ["leagueId"]]`). To
        query the full history of seasons, use the `/api/v1/seasons/all`
        path instead (see getAllSeasons).
      parameters:
        - { name: season,     in: query, schema: { type: integer } }
        - { name: sportId,    in: query, schema: { type: integer } }
        - { name: divisionId, in: query, schema: { type: integer } }
        - { name: leagueId,   in: query, schema: { type: integer } }
        - { name: fields,     in: query, schema: { type: string }, description: "comma-separated field projection" }
      responses:
        "200":
          description: Seasons
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SeasonsResponse" }

  /api/v1/seasons/{seasonId}:
    get:
      operationId: getSeason
      summary: Single season by id
      description: |
        Returns metadata for one season. sportId is required by the MLB API
        (and encoded as `required_params: [["sportId"]]` in toddrob99). The
        response is a `{"seasons": [...]}` array of one element; the SDK
        collapses it to *Season and maps an empty array to ErrNotFound.
      parameters:
        - { name: seasonId, in: path, required: true, schema: { type: string }, description: "e.g. 2024" }
        - { name: sportId, in: query, required: true, schema: { type: integer }, description: "1 = MLB" }
        - { name: fields, in: query, schema: { type: string }, description: "comma-separated field projection" }
      responses:
        "200":
          description: Season
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SeasonsResponse" }

  /api/v1/seasons/all:
    get:
      operationId: getAllSeasons
      summary: List every season the MLB API tracks
      description: |
        Returns every season in the API's history (starts from 1876 for
        sportId=1). divisionId / leagueId are supported here when the
        toddrob99 `all` path is used.
      parameters:
        - { name: sportId,    in: query, schema: { type: integer } }
        - { name: divisionId, in: query, schema: { type: integer } }
        - { name: leagueId,   in: query, schema: { type: integer } }
        - { name: fields,     in: query, schema: { type: string } }
      responses:
        "200":
          description: Seasons
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SeasonsResponse" }

  /api/v1/people/{personId}:
    get:
      operationId: getPerson
      summary: Single person by id
      description: |
        Returns player / staff metadata. The response is `{"people": [<one
        entry>]}`; the SDK collapses the wrapper and maps an empty array to
        ErrNotFound. Hydrate sub-objects via the hydrate query parameter.
      parameters:
        - { name: personId, in: path, required: true, schema: { type: integer } }
        - { name: hydrate, in: query, schema: { type: string } }
        - { name: fields, in: query, schema: { type: string } }
      responses:
        "200":
          description: Person
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PeopleResponse" }

  /api/v1/people:
    get:
      operationId: getPeople
      summary: Fetch multiple people by comma-separated ids
      description: |
        Returns metadata for one or more people. personIds is required.
      parameters:
        - { name: personIds, in: query, required: true, schema: { type: string }, description: "comma-separated person ids" }
        - { name: hydrate, in: query, schema: { type: string } }
        - { name: fields, in: query, schema: { type: string } }
      responses:
        "200":
          description: People
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PeopleResponse" }

  /api/v1/teams/{teamId}/roster:
    get:
      operationId: getTeamRoster
      summary: Team roster
      description: |
        Returns the roster for a team. Filter by rosterType ("active",
        "40Man", "fullSeason", "allTime", "depthChart", etc.), season,
        and date.
      parameters:
        - { name: teamId, in: path, required: true, schema: { type: integer } }
        - { name: rosterType, in: query, schema: { type: string }, description: "active | 40Man | fullSeason | allTime | depthChart | …" }
        - { name: season, in: query, schema: { type: integer } }
        - { name: date, in: query, schema: { type: string }, description: "YYYY-MM-DD" }
        - { name: hydrate, in: query, schema: { type: string } }
        - { name: fields, in: query, schema: { type: string } }
      responses:
        "200":
          description: Roster
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RosterResponse" }

  /api/v1/people/freeAgents:
    get:
      operationId: getFreeAgents
      summary: Free agents
      description: |
        Returns free-agent signings, declarations, and status. Optional
        season filter; toddrob99 lists order, hydrate, fields as query
        params — season also works in practice.
      parameters:
        - { name: season, in: query, schema: { type: integer } }
        - { name: order, in: query, schema: { type: string }, description: "sort order" }
        - { name: hydrate, in: query, schema: { type: string } }
        - { name: fields, in: query, schema: { type: string } }
      responses:
        "200":
          description: Free agents
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FreeAgentsResponse" }

  /api/v1/transactions:
    get:
      operationId: getTransactions
      summary: Roster / assignment transactions
      description: |
        Returns MLB transactions across teams and sports. toddrob99 marks
        required_params=[["teamId"], ["playerId"], ["date"], ["startDate",
        "endDate"]] — one of: TeamID alone, PlayerID alone, Date alone, or
        StartDate+EndDate together. The SDK enforces this via an
        ErrInvalidQuery runtime check.
      parameters:
        - { name: teamId, in: query, schema: { type: integer } }
        - { name: playerId, in: query, schema: { type: integer } }
        - { name: date, in: query, schema: { type: string }, description: "YYYY-MM-DD" }
        - { name: startDate, in: query, schema: { type: string }, description: "YYYY-MM-DD" }
        - { name: endDate, in: query, schema: { type: string }, description: "YYYY-MM-DD" }
        - { name: sportId, in: query, schema: { type: integer } }
        - { name: fields, in: query, schema: { type: string } }
      responses:
        "200":
          description: Transactions
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TransactionsResponse" }

  /api/v1/awards/{awardId}/recipients:
    get:
      operationId: getAwardRecipients
      summary: Recipients of a single award by id
      description: |
        Returns every recipient of the given award (e.g. MLBHOF, MVP).
        toddrob99 models awardId as an optional path-param — the SDK
        requires it (the no-path-arg form, which lists every award id,
        is exposed separately).
      parameters:
        - { name: awardId, in: path, required: true, schema: { type: string }, description: "e.g. MLBHOF, ALMVP" }
        - { name: sportId, in: query, schema: { type: integer } }
        - { name: leagueId, in: query, schema: { type: integer } }
        - { name: season, in: query, schema: { type: integer } }
        - { name: hydrate, in: query, schema: { type: string } }
        - { name: fields, in: query, schema: { type: string } }
      responses:
        "200":
          description: Award recipients
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AwardsResponse" }

  /api/v1/attendance:
    get:
      operationId: getAttendance
      summary: Attendance records for a team / league / league-list
      description: |
        Returns per-season attendance records. toddrob99 marks
        required_params=[["teamId"], ["leagueId"], ["leagueListId"]] —
        one of TeamID, LeagueID, or LeagueListID must be set. The SDK
        enforces this with an ErrInvalidQuery runtime check.
      parameters:
        - { name: teamId, in: query, schema: { type: integer } }
        - { name: leagueId, in: query, schema: { type: integer } }
        - { name: season, in: query, schema: { type: integer } }
        - { name: date, in: query, schema: { type: string }, description: "YYYY-MM-DD" }
        - { name: leagueListId, in: query, schema: { type: string }, description: "e.g. milb_all" }
        - { name: gameType, in: query, schema: { type: string }, description: "R | S | E | A | D | F | L | W" }
        - { name: fields, in: query, schema: { type: string } }
      responses:
        "200":
          description: Attendance
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AttendanceResponse" }

  /api/v1/conferences:
    get:
      operationId: getConferences
      summary: List conferences
      parameters:
        - { name: conferenceId, in: query, schema: { type: integer } }
        - { name: season, in: query, schema: { type: integer } }
        - { name: fields, in: query, schema: { type: string } }
      responses:
        "200":
          description: Conferences
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ConferencesResponse" }

  /api/v1/divisions:
    get:
      operationId: getDivisions
      summary: List divisions across MLB and affiliated leagues
      description: |
        Returns a list of divisions. Calling with no query parameters returns
        every division the MLB API tracks (MLB, minor leagues, college,
        etc.). Filter via divisionId, leagueId, sportId, or season.
      parameters:
        - { name: divisionId, in: query, schema: { type: integer } }
        - { name: leagueId,   in: query, schema: { type: integer } }
        - { name: sportId,    in: query, schema: { type: integer }, description: "1 = MLB" }
        - { name: season,     in: query, schema: { type: integer } }
      responses:
        "200":
          description: Divisions
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DivisionsResponse" }

  /api/v1/league:
    get:
      operationId: getLeagues
      summary: List leagues across a sport / season(s)
      description: |
        Returns the leagues the MLB API tracks. The toddrob99 catalog
        marks `sportId` or `leagueIds` as required (one-of). The SDK
        enforces this with an ErrInvalidQuery runtime check.
      parameters:
        - { name: sportId, in: query, schema: { type: integer }, description: "1 = MLB" }
        - { name: leagueIds, in: query, schema: { type: string }, description: "comma-separated league ids" }
        - { name: seasons, in: query, schema: { type: string }, description: "comma-separated seasons" }
        - { name: fields, in: query, schema: { type: string } }
      responses:
        "200":
          description: Leagues
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LeaguesResponse" }

  /api/v1/teams:
    get:
      operationId: getTeams
      summary: List teams across sports / leagues / seasons
      description: |
        Returns every team the MLB API tracks when called with no filters.
        Filter by sport, league(s), and season. Hydrate sub-objects via
        the hydrate query parameter as documented on /teams/{teamId}.
      parameters:
        - { name: season, in: query, schema: { type: integer } }
        - { name: activeStatus, in: query, schema: { type: string }, description: "ACTIVE | INACTIVE | BOTH" }
        - { name: leagueIds, in: query, schema: { type: string }, description: "comma-separated league ids" }
        - { name: sportId, in: query, schema: { type: integer }, description: "1 = MLB" }
        - { name: sportIds, in: query, schema: { type: string }, description: "comma-separated sport ids" }
        - { name: gameType, in: query, schema: { type: string }, description: "R | S | E | A | D | F | L | W" }
        - { name: hydrate, in: query, schema: { type: string } }
        - { name: fields, in: query, schema: { type: string } }
      responses:
        "200":
          description: Teams
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TeamsResponse" }

  /api/v1/teams/{teamId}:
    get:
      operationId: getTeam
      summary: Single team by id
      description: |
        Returns metadata for one team. Hydrate sub-objects (league, division,
        sport, springLeague, venue) by passing them in the hydrate query
        param. The response is `{"teams": [<one entry>]}`; the SDK collapses
        the wrapper and maps an empty array to ErrNotFound.
      parameters:
        - { name: teamId, in: path, required: true, schema: { type: integer } }
        - { name: season, in: query, schema: { type: integer } }
        - { name: sportId, in: query, schema: { type: integer } }
        - { name: hydrate, in: query, schema: { type: string }, description: "comma-separated hydrate flags (e.g. league,division,sport,springLeague,venue)" }
        - { name: fields, in: query, schema: { type: string }, description: "comma-separated field projection" }
      responses:
        "200":
          description: Team
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TeamsResponse" }

  /api/v1/sports:
    get:
      operationId: getSports
      summary: List of sports the MLB API tracks
      description: |
        Returns every sport the MLB Stats API exposes (MLB, AAA, AA, …) when
        called with no parameters. Filter to a single sport via sportId.
      parameters:
        - { name: sportId, in: query, schema: { type: integer }, description: "1 = MLB" }
        - { name: fields, in: query, schema: { type: string }, description: "comma-separated field projection" }
      responses:
        "200":
          description: Sports
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SportsResponse" }

  /api/v1/venues/{venueId}:
    get:
      operationId: getVenue
      summary: Single venue by id
      description: |
        Returns metadata for a single venue. The MLB API also accepts a
        comma-separated `venueIds` query parameter at `/api/v1/venues`, but
        this SDK exposes the path-based single-object lookup form.
      parameters:
        - { name: venueId, in: path, required: true, schema: { type: integer } }
        - { name: season, in: query, schema: { type: integer } }
        - { name: hydrate, in: query, schema: { type: string }, description: "comma-separated hydrate flags (e.g. location,fieldInfo,timezone)" }
        - { name: fields, in: query, schema: { type: string }, description: "comma-separated field projection" }
      responses:
        "200":
          description: Venue
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VenueResponse" }

components:
  schemas:
    Team:
      type: object
      additionalProperties: true
      properties:
        id: { type: integer }
        name: { type: string }

    GameStatus:
      type: object
      additionalProperties: true
      properties:
        abstractGameState: { type: string, description: "Final, Live, Preview" }
        detailedState: { type: string }

    SideScoreboard:
      type: object
      additionalProperties: true
      properties:
        team: { $ref: "#/components/schemas/Team" }
        score: { type: integer }

    ScheduleGameTeams:
      type: object
      additionalProperties: true
      properties:
        home: { $ref: "#/components/schemas/SideScoreboard" }
        away: { $ref: "#/components/schemas/SideScoreboard" }

    ScheduleGame:
      type: object
      additionalProperties: true
      properties:
        gamePk: { type: integer }
        gameDate: { type: string, format: date-time }
        status: { $ref: "#/components/schemas/GameStatus" }
        teams: { $ref: "#/components/schemas/ScheduleGameTeams" }

    ScheduleDate:
      type: object
      additionalProperties: true
      properties:
        date: { type: string, description: "YYYY-MM-DD" }
        games:
          type: array
          items: { $ref: "#/components/schemas/ScheduleGame" }

    ScheduleResponse:
      type: object
      additionalProperties: true
      properties:
        totalGames: { type: integer }
        dates:
          type: array
          items: { $ref: "#/components/schemas/ScheduleDate" }

    PitchingStats:
      type: object
      additionalProperties: true
      properties:
        strikeOuts: { type: integer }
        hits: { type: integer }
        runs: { type: integer }
        homeRuns: { type: integer }
        baseOnBalls: { type: integer }

    BattingStats:
      type: object
      additionalProperties: true
      properties:
        runs: { type: integer }
        hits: { type: integer }
        homeRuns: { type: integer }
        rbi: { type: integer }
        stolenBases: { type: integer }
        groundIntoDoublePlay: { type: integer }

    TeamStatsBlock:
      type: object
      additionalProperties: true
      properties:
        pitching: { $ref: "#/components/schemas/PitchingStats" }
        batting: { $ref: "#/components/schemas/BattingStats" }

    InfoItem:
      type: object
      additionalProperties: true
      properties:
        label: { type: string }
        value: { type: string }

    InfoSection:
      type: object
      additionalProperties: true
      properties:
        title: { type: string, description: "BATTING | FIELDING | …" }
        fieldList:
          type: array
          items: { $ref: "#/components/schemas/InfoItem" }

    BoxscoreSide:
      type: object
      additionalProperties: true
      properties:
        team: { $ref: "#/components/schemas/Team" }
        teamStats: { $ref: "#/components/schemas/TeamStatsBlock" }
        info:
          type: array
          items: { $ref: "#/components/schemas/InfoSection" }
          description: |
            Free-text annotations grouped by section. The MLB API exposes
            per-game team double-plays only here, under FIELDING / DP.

    BoxscoreTeams:
      type: object
      additionalProperties: true
      properties:
        home: { $ref: "#/components/schemas/BoxscoreSide" }
        away: { $ref: "#/components/schemas/BoxscoreSide" }

    BoxscoreResponse:
      type: object
      additionalProperties: true
      properties:
        teams: { $ref: "#/components/schemas/BoxscoreTeams" }

    PlayResult:
      type: object
      additionalProperties: true
      properties:
        event: { type: string, description: "e.g. Grounded Into DP, Strikeout" }
        eventType: { type: string, description: "e.g. grounded_into_double_play" }
        description: { type: string }

    PlayCount:
      type: object
      additionalProperties: true
      properties:
        outs: { type: integer }
        balls: { type: integer }
        strikes: { type: integer }

    PlayAbout:
      type: object
      additionalProperties: true
      properties:
        inning: { type: integer }
        halfInning: { type: string }
        outs: { type: integer }

    Play:
      type: object
      additionalProperties: true
      properties:
        result: { $ref: "#/components/schemas/PlayResult" }
        count: { $ref: "#/components/schemas/PlayCount" }
        about: { $ref: "#/components/schemas/PlayAbout" }

    PlayByPlayResponse:
      type: object
      additionalProperties: true
      properties:
        allPlays:
          type: array
          items: { $ref: "#/components/schemas/Play" }

    LiveData:
      type: object
      additionalProperties: true
      properties:
        plays: { $ref: "#/components/schemas/PlayByPlayResponse" }

    LiveFeedResponse:
      type: object
      additionalProperties: true
      properties:
        liveData: { $ref: "#/components/schemas/LiveData" }

    StatSplit:
      type: object
      additionalProperties: true
      properties:
        season: { type: string }
        stat:
          type: object
          additionalProperties: true

    DisplayLabel:
      type: object
      additionalProperties: true
      properties:
        displayName: { type: string }

    StatGroup:
      type: object
      additionalProperties: true
      properties:
        type: { $ref: "#/components/schemas/DisplayLabel" }
        group: { $ref: "#/components/schemas/DisplayLabel" }
        splits:
          type: array
          items: { $ref: "#/components/schemas/StatSplit" }

    TeamStatsResponse:
      type: object
      additionalProperties: true
      properties:
        stats:
          type: array
          items: { $ref: "#/components/schemas/StatGroup" }

    Ref:
      type: object
      additionalProperties: true
      description: |
        Lightweight reference object — `{id, link}` — that the MLB API uses
        for league/division/sport pointers in responses (no name field).
      properties:
        id:   { type: integer }
        link: { type: string }

    Streak:
      type: object
      additionalProperties: true
      properties:
        streakCode:   { type: string, description: "e.g. W3, L1" }
        streakType:   { type: string, description: "wins | losses" }
        streakNumber: { type: integer }

    TeamRecord:
      type: object
      additionalProperties: true
      description: |
        One team's slot in a division standings block. Fields like
        gamesBack, divisionRank, eliminationNumber and winningPercentage
        are intentionally typed as strings because the MLB API uses "-"
        for "not applicable" values that an int cannot represent.
      properties:
        team:                 { $ref: "#/components/schemas/Team" }
        streak:               { $ref: "#/components/schemas/Streak" }
        wins:                 { type: integer }
        losses:               { type: integer }
        gamesPlayed:          { type: integer }
        runsScored:           { type: integer }
        runsAllowed:          { type: integer }
        runDifferential:      { type: integer }
        winningPercentage:    { type: string, description: ".593-style decimal string" }
        gamesBack:            { type: string }
        wildCardGamesBack:    { type: string }
        divisionRank:         { type: string }
        leagueRank:           { type: string }
        sportRank:            { type: string }
        eliminationNumber:    { type: string }
        magicNumber:          { type: string }
        clinched:             { type: boolean }
        divisionLeader:       { type: boolean }
        divisionChamp:        { type: boolean }
        hasWildcard:          { type: boolean }
        season:               { type: string }
        lastUpdated:          { type: string, format: date-time }

    DivisionStandings:
      type: object
      additionalProperties: true
      properties:
        standingsType: { type: string, description: "e.g. regularSeason" }
        league:        { $ref: "#/components/schemas/Ref" }
        division:      { $ref: "#/components/schemas/Ref" }
        sport:         { $ref: "#/components/schemas/Ref" }
        lastUpdated:   { type: string, format: date-time }
        teamRecords:
          type: array
          items: { $ref: "#/components/schemas/TeamRecord" }

    StandingsResponse:
      type: object
      additionalProperties: true
      properties:
        records:
          type: array
          items: { $ref: "#/components/schemas/DivisionStandings" }

    VenueCoordinates:
      type: object
      additionalProperties: true
      properties:
        latitude:  { type: number, format: double }
        longitude: { type: number, format: double }

    VenueLocation:
      type: object
      additionalProperties: true
      description: |
        Postal address and geographic placement of a venue. Only present in
        responses that hydrate `location`.
      properties:
        address1:           { type: string }
        address2:           { type: string }
        city:               { type: string }
        state:              { type: string }
        stateAbbrev:        { type: string }
        postalCode:         { type: string }
        defaultCoordinates: { $ref: "#/components/schemas/VenueCoordinates" }
        azimuthAngle:       { type: number, format: double }
        elevation:          { type: integer }
        country:            { type: string }
        phone:              { type: string }

    VenueTimeZone:
      type: object
      additionalProperties: true
      description: |
        Local time-zone of the venue. Only present in responses that hydrate
        `timezone`.
      properties:
        tz:               { type: string }
        id:               { type: string }
        offset:           { type: integer }
        offsetAtGameTime: { type: integer }

    VenueFieldInfo:
      type: object
      additionalProperties: true
      description: |
        Field dimensions and surface details. Only present in responses that
        hydrate `fieldInfo`.
      properties:
        capacity:    { type: integer }
        turfType:    { type: string }
        roofType:    { type: string }
        leftLine:    { type: integer }
        leftCenter:  { type: integer }
        center:      { type: integer }
        rightCenter: { type: integer }
        rightLine:   { type: integer }

    Venue:
      type: object
      additionalProperties: true
      properties:
        id:        { type: integer }
        name:      { type: string }
        link:      { type: string }
        active:    { type: boolean }
        season:    { type: string }
        location:  { $ref: "#/components/schemas/VenueLocation" }
        timeZone:  { $ref: "#/components/schemas/VenueTimeZone" }
        fieldInfo: { $ref: "#/components/schemas/VenueFieldInfo" }

    VenueResponse:
      type: object
      additionalProperties: true
      properties:
        venues:
          type: array
          items: { $ref: "#/components/schemas/Venue" }

    Division:
      type: object
      additionalProperties: true
      properties:
        id:               { type: integer }
        name:             { type: string }
        season:           { type: string }
        nameShort:        { type: string }
        link:             { type: string }
        abbreviation:     { type: string }
        league:           { $ref: "#/components/schemas/Ref" }
        sport:            { $ref: "#/components/schemas/Ref" }
        hasWildcard:      { type: boolean }
        sortOrder:        { type: integer }
        numPlayoffTeams:  { type: integer }
        active:           { type: boolean }

    DivisionsResponse:
      type: object
      additionalProperties: true
      properties:
        divisions:
          type: array
          items: { $ref: "#/components/schemas/Division" }

    Season:
      type: object
      additionalProperties: true
      description: |
        One season's metadata. Many fields are optional in older history
        rows — pre-divisional eras did not have wildcards, all-star breaks,
        or post-season windows recorded.
      properties:
        seasonId:                  { type: string }
        hasWildcard:               { type: boolean }
        preSeasonStartDate:        { type: string, description: "YYYY-MM-DD" }
        preSeasonEndDate:          { type: string, description: "YYYY-MM-DD" }
        seasonStartDate:           { type: string, description: "YYYY-MM-DD" }
        springStartDate:           { type: string, description: "YYYY-MM-DD" }
        springEndDate:             { type: string, description: "YYYY-MM-DD" }
        regularSeasonStartDate:    { type: string, description: "YYYY-MM-DD" }
        lastDate1stHalf:           { type: string, description: "YYYY-MM-DD" }
        allStarDate:               { type: string, description: "YYYY-MM-DD" }
        firstDate2ndHalf:          { type: string, description: "YYYY-MM-DD" }
        regularSeasonEndDate:      { type: string, description: "YYYY-MM-DD" }
        postSeasonStartDate:       { type: string, description: "YYYY-MM-DD" }
        postSeasonEndDate:         { type: string, description: "YYYY-MM-DD" }
        seasonEndDate:             { type: string, description: "YYYY-MM-DD" }
        offseasonStartDate:        { type: string, description: "YYYY-MM-DD" }
        offSeasonEndDate:          { type: string, description: "YYYY-MM-DD" }
        seasonLevelGamedayType:    { type: string, description: "e.g. P, S" }
        gameLevelGamedayType:      { type: string }
        qualifierPlateAppearances: { type: number, format: double }
        qualifierOutsPitched:      { type: number, format: double }

    SeasonsResponse:
      type: object
      additionalProperties: true
      properties:
        seasons:
          type: array
          items: { $ref: "#/components/schemas/Season" }

    Sport:
      type: object
      additionalProperties: true
      description: |
        One sport tracked by the MLB Stats API. Covers MLB plus affiliated
        minor leagues, college, and independent baseball.
      properties:
        id:           { type: integer }
        code:         { type: string, description: "e.g. mlb, aaa, aax" }
        link:         { type: string }
        name:         { type: string }
        abbreviation: { type: string }
        sortOrder:    { type: integer }
        activeStatus: { type: boolean }

    SportsResponse:
      type: object
      additionalProperties: true
      properties:
        sports:
          type: array
          items: { $ref: "#/components/schemas/Sport" }

    LeagueInfo:
      type: object
      additionalProperties: true
      description: |
        Rich league record. Used directly by /api/v1/league and embedded in
        the team payload's `league` and `springLeague` fields. Many fields
        are only populated when the API hydrates the league sub-object
        (most embedded references only carry id/name/link).
      properties:
        id:                { type: integer }
        name:              { type: string }
        link:              { type: string }
        abbreviation:      { type: string }
        nameShort:         { type: string }
        seasonState:       { type: string, description: "e.g. inseason, offseason" }
        hasWildCard:       { type: boolean }
        hasSplitSeason:    { type: boolean }
        numGames:          { type: integer }
        hasPlayoffPoints:  { type: boolean }
        numTeams:          { type: integer }
        numWildcardTeams:  { type: integer }
        seasonDateInfo:    { $ref: "#/components/schemas/Season" }
        season:            { type: string }
        orgCode:           { type: string }
        conferencesInUse:  { type: boolean }
        divisionsInUse:    { type: boolean }
        sport:             { $ref: "#/components/schemas/Ref" }
        sortOrder:         { type: integer }
        active:            { type: boolean }

    TeamInfo:
      type: object
      additionalProperties: true
      description: |
        Rich team record as returned by /api/v1/teams and /api/v1/teams/{teamId}.
        Sub-objects (league, division, sport, springLeague, venue) carry
        only id/name/link until the request hydrates the corresponding key.
      properties:
        id:              { type: integer }
        name:            { type: string }
        link:            { type: string }
        season:          { type: integer }
        venue:           { $ref: "#/components/schemas/Venue" }
        springLeague:    { $ref: "#/components/schemas/LeagueInfo" }
        springVenue:     { $ref: "#/components/schemas/Ref" }
        teamCode:        { type: string }
        fileCode:        { type: string }
        abbreviation:    { type: string }
        teamName:        { type: string }
        locationName:    { type: string }
        firstYearOfPlay: { type: string }
        league:          { $ref: "#/components/schemas/LeagueInfo" }
        division:        { $ref: "#/components/schemas/Division" }
        sport:           { $ref: "#/components/schemas/Sport" }
        shortName:       { type: string }
        franchiseName:   { type: string }
        clubName:        { type: string }
        active:          { type: boolean }
        allStarStatus:   { type: string }

    TeamsResponse:
      type: object
      additionalProperties: true
      properties:
        teams:
          type: array
          items: { $ref: "#/components/schemas/TeamInfo" }

    LeaguesResponse:
      type: object
      additionalProperties: true
      properties:
        leagues:
          type: array
          items: { $ref: "#/components/schemas/LeagueInfo" }

    AttendanceGameRef:
      type: object
      additionalProperties: true
      description: |
        Pointer to one of the games anchoring a high/low attendance record.
        `content` is a nested link to the game-content endpoint.
      properties:
        gamePk:   { type: integer }
        link:     { type: string }
        content:  { $ref: "#/components/schemas/Ref" }
        dayNight: { type: string, description: "day | night" }

    GameTypeRef:
      type: object
      additionalProperties: true
      description: |
        Short reference for an MLB game-type — `{id, description}` — used by
        attendance records to label the game-type bucket.
      properties:
        id:          { type: string, description: "e.g. R, S, E" }
        description: { type: string }

    AttendanceRecord:
      type: object
      additionalProperties: true
      description: |
        One attendance row — typically one row per (team, season, gameType)
        combination, or aggregated per league when leagueId/leagueListId
        is used.
      properties:
        openingsTotal:           { type: integer }
        openingsTotalAway:       { type: integer }
        openingsTotalHome:       { type: integer }
        openingsTotalLost:       { type: integer }
        gamesTotal:              { type: integer }
        gamesAwayTotal:          { type: integer }
        gamesHomeTotal:          { type: integer }
        year:                    { type: string }
        attendanceAverageAway:   { type: integer }
        attendanceAverageHome:   { type: integer }
        attendanceAverageYtd:    { type: integer }
        attendanceHigh:          { type: integer }
        attendanceHighDate:      { type: string, format: date-time }
        attendanceHighGame:      { $ref: "#/components/schemas/AttendanceGameRef" }
        attendanceLow:           { type: integer }
        attendanceLowDate:       { type: string, format: date-time }
        attendanceLowGame:       { $ref: "#/components/schemas/AttendanceGameRef" }
        attendanceOpeningAverage: { type: integer }
        attendanceTotal:         { type: integer }
        attendanceTotalAway:     { type: integer }
        attendanceTotalHome:     { type: integer }
        gameType:                { $ref: "#/components/schemas/GameTypeRef" }
        team:                    { $ref: "#/components/schemas/Team" }

    AttendanceAggregateTotals:
      type: object
      additionalProperties: true
      description: |
        Per-call rollup totals — sum / average across every record in the
        response. Present on every attendance response regardless of
        whether records is empty.
      properties:
        openingsTotalAway:     { type: integer }
        openingsTotalHome:     { type: integer }
        openingsTotalLost:     { type: integer }
        openingsTotalYtd:      { type: integer }
        attendanceAverageAway: { type: integer }
        attendanceAverageHome: { type: integer }
        attendanceAverageYtd:  { type: integer }
        attendanceHigh:        { type: integer }
        attendanceHighDate:    { type: string, format: date-time }
        attendanceTotal:       { type: integer }
        attendanceTotalAway:   { type: integer }
        attendanceTotalHome:   { type: integer }

    PrimaryPosition:
      type: object
      additionalProperties: true
      description: |
        Player position metadata — `{code, name, type, abbreviation}` — as
        the MLB API embeds it in person references.
      properties:
        code:         { type: string, description: "e.g. 1, 2, 3, …" }
        name:         { type: string, description: "e.g. Pitcher, Catcher" }
        type:         { type: string, description: "e.g. Pitcher, Infielder" }
        abbreviation: { type: string, description: "e.g. P, C, 1B" }

    Person:
      type: object
      additionalProperties: true
      description: |
        Lightweight person reference returned by awards / transactions /
        roster endpoints. PrimaryPosition is only present when hydrated.
      properties:
        id:              { type: integer }
        fullName:        { type: string }
        nameFirstLast:   { type: string }
        link:            { type: string }
        primaryPosition: { $ref: "#/components/schemas/PrimaryPosition" }

    AwardRecipient:
      type: object
      additionalProperties: true
      description: |
        One award-recipient row — the award metadata plus the team and
        player it was awarded to.
      properties:
        id:     { type: string, description: "award id, e.g. MLBHOF" }
        name:   { type: string, description: "award display name" }
        date:   { type: string, description: "YYYY-MM-DD" }
        season: { type: string }
        team:   { $ref: "#/components/schemas/Ref" }
        player: { $ref: "#/components/schemas/Person" }
        notes:  { type: string }

    AwardsResponse:
      type: object
      additionalProperties: true
      properties:
        awards:
          type: array
          items: { $ref: "#/components/schemas/AwardRecipient" }

    HandSide:
      type: object
      additionalProperties: true
      properties:
        code:        { type: string, description: "L | R | S" }
        description: { type: string, description: "Left | Right | Switch" }

    PersonDetail:
      type: object
      additionalProperties: true
      description: |
        Rich person record returned by /api/v1/people/{personId} and
        /api/v1/people. Many fields are absent for non-player persons
        (coaches, umpires, etc.).
      properties:
        id:               { type: integer }
        fullName:         { type: string }
        firstName:        { type: string }
        lastName:         { type: string }
        link:             { type: string }
        primaryNumber:    { type: string }
        birthDate:        { type: string, description: "YYYY-MM-DD" }
        currentAge:       { type: integer }
        birthCity:        { type: string }
        birthCountry:     { type: string }
        height:           { type: string, description: "e.g. 6' 4\"" }
        weight:           { type: integer }
        active:           { type: boolean }
        primaryPosition:  { $ref: "#/components/schemas/PrimaryPosition" }
        useName:          { type: string }
        useLastName:      { type: string }
        boxscoreName:     { type: string }
        nickName:         { type: string }
        gender:           { type: string }
        isPlayer:         { type: boolean }
        isVerified:       { type: boolean }
        pronunciation:    { type: string }
        mlbDebutDate:     { type: string, description: "YYYY-MM-DD" }
        batSide:          { $ref: "#/components/schemas/HandSide" }
        pitchHand:        { $ref: "#/components/schemas/HandSide" }
        nameFirstLast:    { type: string }
        nameSlug:         { type: string }
        firstLastName:    { type: string }
        lastFirstName:    { type: string }
        lastInitName:     { type: string }
        initLastName:     { type: string }
        fullFMLName:      { type: string }
        fullLFMName:      { type: string }
        strikeZoneTop:    { type: number, format: double }
        strikeZoneBottom: { type: number, format: double }

    PeopleResponse:
      type: object
      additionalProperties: true
      properties:
        people:
          type: array
          items: { $ref: "#/components/schemas/PersonDetail" }

    GamePaceData:
      type: object
      additionalProperties: true
      properties:
        season:                             { type: string }
        sport:                              { $ref: "#/components/schemas/Ref" }
        hitsPer9Inn:                        { type: number, format: double }
        runsPer9Inn:                        { type: number, format: double }
        pitchesPer9Inn:                     { type: number, format: double }
        plateAppearancesPer9Inn:            { type: number, format: double }
        hitsPerGame:                        { type: number, format: double }
        runsPerGame:                        { type: number, format: double }
        inningsPlayedPerGame:               { type: number, format: double }
        pitchesPerGame:                     { type: number, format: double }
        pitchersPerGame:                    { type: number, format: double }
        plateAppearancesPerGame:            { type: number, format: double }
        hitsPerRun:                         { type: number, format: double }
        pitchesPerPitcher:                  { type: number, format: double }
        totalGameTime:                      { type: string }
        totalInningsPlayed:                 { type: number, format: double }
        totalHits:                          { type: integer }
        totalRuns:                          { type: integer }
        totalPlateAppearances:              { type: integer }
        totalPitchers:                      { type: integer }
        totalPitches:                       { type: integer }
        totalGames:                         { type: integer }
        total7InnGames:                     { type: integer }
        total9InnGames:                     { type: integer }
        total9InnGamesCompletedEarly:       { type: integer }
        total9InnGamesScheduled:            { type: integer }
        total9InnGamesWithoutExtraInn:      { type: integer }
        totalExtraInnGames:                 { type: integer }
        totalExtraInnTime:                  { type: string }
        timePerGame:                        { type: string }
        timePerPitch:                       { type: string }
        timePerHit:                         { type: string }
        timePerRun:                         { type: string }
        timePerPlateAppearance:             { type: string }
        timePer9Inn:                        { type: string }
        timePer77PlateAppearances:          { type: string }
        timePer7InnGameWithoutExtraInn:     { type: string }

    GamePaceResponse:
      type: object
      additionalProperties: true
      properties:
        sports:
          type: array
          items: { $ref: "#/components/schemas/GamePaceData" }

    DraftHome:
      type: object
      additionalProperties: true
      properties:
        city:    { type: string }
        country: { type: string }

    DraftSchool:
      type: object
      additionalProperties: true
      properties:
        name:        { type: string }
        schoolClass: { type: string, description: "e.g. 4YR JR, HS" }
        city:        { type: string }
        country:     { type: string }
        state:       { type: string }

    DraftTypeRef:
      type: object
      additionalProperties: true
      properties:
        code:        { type: string, description: "e.g. JR" }
        description: { type: string }

    DraftPick:
      type: object
      additionalProperties: true
      properties:
        bisPlayerId:      { type: integer }
        pickRound:        { type: string }
        pickNumber:       { type: integer }
        displayPickNumber: { type: integer }
        roundPickNumber:  { type: integer }
        rank:             { type: integer }
        pickValue:        { type: string }
        signingBonus:     { type: string }
        home:             { $ref: "#/components/schemas/DraftHome" }
        scoutingReport:   { type: string }
        school:           { $ref: "#/components/schemas/DraftSchool" }
        blurb:            { type: string }
        headshotLink:     { type: string }
        person:           { $ref: "#/components/schemas/PersonDetail" }
        team:             { $ref: "#/components/schemas/TeamInfo" }
        draftType:        { $ref: "#/components/schemas/DraftTypeRef" }
        isDrafted:        { type: boolean }
        isPass:           { type: boolean }
        year:             { type: string }

    DraftRound:
      type: object
      additionalProperties: true
      properties:
        round: { type: string }
        picks:
          type: array
          items: { $ref: "#/components/schemas/DraftPick" }

    Draft:
      type: object
      additionalProperties: true
      properties:
        draftYear: { type: integer }
        rounds:
          type: array
          items: { $ref: "#/components/schemas/DraftRound" }

    DraftResponse:
      type: object
      additionalProperties: true
      properties:
        drafts: { $ref: "#/components/schemas/Draft" }

    Conference:
      type: object
      additionalProperties: true
      properties:
        id:           { type: integer }
        name:         { type: string }
        link:         { type: string }
        abbreviation: { type: string }
        nameShort:    { type: string }
        hasWildcard:  { type: boolean }
        league:       { $ref: "#/components/schemas/Ref" }
        sport:        { $ref: "#/components/schemas/Ref" }

    ConferencesResponse:
      type: object
      additionalProperties: true
      properties:
        conferences:
          type: array
          items: { $ref: "#/components/schemas/Conference" }

    RosterStatus:
      type: object
      additionalProperties: true
      properties:
        code:        { type: string, description: "A | MIN | RL | …" }
        description: { type: string }

    RosterEntry:
      type: object
      additionalProperties: true
      properties:
        person:       { $ref: "#/components/schemas/Person" }
        jerseyNumber: { type: string }
        position:     { $ref: "#/components/schemas/PrimaryPosition" }
        status:       { $ref: "#/components/schemas/RosterStatus" }

    RosterResponse:
      type: object
      additionalProperties: true
      properties:
        link: { type: string }
        roster:
          type: array
          items: { $ref: "#/components/schemas/RosterEntry" }

    FreeAgent:
      type: object
      additionalProperties: true
      properties:
        player:       { $ref: "#/components/schemas/Person" }
        originalTeam: { $ref: "#/components/schemas/Team" }
        newTeam:      { $ref: "#/components/schemas/Team" }
        notes:        { type: string }
        dateSigned:   { type: string, description: "YYYY-MM-DD" }
        dateDeclared: { type: string, description: "YYYY-MM-DD" }
        position:     { $ref: "#/components/schemas/PrimaryPosition" }

    FreeAgentsResponse:
      type: object
      additionalProperties: true
      properties:
        freeAgents:
          type: array
          items: { $ref: "#/components/schemas/FreeAgent" }

    Transaction:
      type: object
      additionalProperties: true
      description: |
        One roster / assignment transaction — the player, the from/to
        teams, and the date metadata. fromTeam is omitted on initial
        assignments; description is free-text the MLB feed populates.
      properties:
        id:             { type: integer }
        person:         { $ref: "#/components/schemas/Person" }
        fromTeam:       { $ref: "#/components/schemas/Team" }
        toTeam:         { $ref: "#/components/schemas/Team" }
        date:           { type: string, description: "YYYY-MM-DD" }
        effectiveDate:  { type: string, description: "YYYY-MM-DD" }
        resolutionDate: { type: string, description: "YYYY-MM-DD" }
        typeCode:       { type: string, description: "e.g. ASG, SE, TR" }
        typeDesc:       { type: string }
        description:    { type: string }

    LinescoreInningHalf:
      type: object
      additionalProperties: true
      properties:
        runs:       { type: integer }
        hits:       { type: integer }
        errors:     { type: integer }
        leftOnBase: { type: integer }

    LinescoreInning:
      type: object
      additionalProperties: true
      properties:
        num:        { type: integer }
        ordinalNum: { type: string }
        home:       { $ref: "#/components/schemas/LinescoreInningHalf" }
        away:       { $ref: "#/components/schemas/LinescoreInningHalf" }

    LinescoreTeamTotals:
      type: object
      additionalProperties: true
      properties:
        runs:       { type: integer }
        hits:       { type: integer }
        errors:     { type: integer }
        leftOnBase: { type: integer }
        isWinner:   { type: boolean }

    LinescoreTeams:
      type: object
      additionalProperties: true
      properties:
        home: { $ref: "#/components/schemas/LinescoreTeamTotals" }
        away: { $ref: "#/components/schemas/LinescoreTeamTotals" }

    LinescoreDefense:
      type: object
      additionalProperties: true
      properties:
        pitcher:   { $ref: "#/components/schemas/Person" }
        catcher:   { $ref: "#/components/schemas/Person" }
        first:     { $ref: "#/components/schemas/Person" }
        second:    { $ref: "#/components/schemas/Person" }
        third:     { $ref: "#/components/schemas/Person" }
        shortstop: { $ref: "#/components/schemas/Person" }
        left:      { $ref: "#/components/schemas/Person" }
        center:    { $ref: "#/components/schemas/Person" }
        right:     { $ref: "#/components/schemas/Person" }

    LinescoreOffense:
      type: object
      additionalProperties: true
      properties:
        batter: { $ref: "#/components/schemas/Person" }
        onDeck: { $ref: "#/components/schemas/Person" }
        inHole: { $ref: "#/components/schemas/Person" }
        first:  { $ref: "#/components/schemas/Person" }
        second: { $ref: "#/components/schemas/Person" }
        third:  { $ref: "#/components/schemas/Person" }

    LinescoreResponse:
      type: object
      additionalProperties: true
      properties:
        currentInning:        { type: integer }
        currentInningOrdinal: { type: string }
        inningState:          { type: string }
        inningHalf:           { type: string }
        isTopInning:          { type: boolean }
        scheduledInnings:     { type: integer }
        innings:
          type: array
          items: { $ref: "#/components/schemas/LinescoreInning" }
        teams:   { $ref: "#/components/schemas/LinescoreTeams" }
        defense: { $ref: "#/components/schemas/LinescoreDefense" }
        offense: { $ref: "#/components/schemas/LinescoreOffense" }
        balls:   { type: integer }
        strikes: { type: integer }
        outs:    { type: integer }

    TransactionsResponse:
      type: object
      additionalProperties: true
      properties:
        transactions:
          type: array
          items: { $ref: "#/components/schemas/Transaction" }

    AttendanceResponse:
      type: object
      additionalProperties: true
      properties:
        records:
          type: array
          items: { $ref: "#/components/schemas/AttendanceRecord" }
        aggregateTotals: { $ref: "#/components/schemas/AttendanceAggregateTotals" }
